<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shop</a>
  </div>
</nav>
<div class="content">
  <div class="sidepanel">
    
   <div class="sidenav">
     <button (click)="home()" class="btn btn-outline-dark">Home <img src="https://image.flaticon.com/icons/png/512/1946/1946436.png"height="15px"width="20px"></button>
     <button (click)="gotoproducts()" class="btn btn-outline-dark">Products <img src="https://image.flaticon.com/icons/png/512/1170/1170628.png"height="15px"width="20px"></button>
     <button (click)="home()" class="btn btn-outline-dark">About <img src="https://image.flaticon.com/icons/png/512/1/1176.png"height="15px"width="20px"></button>
     <button (click)="logout()" class="btn btn-outline-dark">Log Out <img src="https://image.flaticon.com/icons/png/512/1828/1828479.png"height="15px"width="20px"></button>
   </div>
    
  </div>
  <button (click)="gotocart()" class="btn btn-danger">Back to cart <img src="https://img-premium.flaticon.com/png/512/2838/premium/2838838.png?token=exp=1623740560~hmac=41a35289bf179edda445ee3e659262ff"height="30px"width="30px"></button>
 <div class="main">
   <h1>Your Subtotal is : {{total | currency:'INR':true}}</h1>
    
     <form class="contact-form" (ngSubmit)="sendEmail($event)">
        <input [hidden]="true" type="text" name="user_name"[(ngModel)]="name">
        <input [hidden]="true" type="email" name="user_email"[(ngModel)]="email">
        <textarea [hidden]=true name="message"[(ngModel)]="message"></textarea>
        <input  type="submit"class="btn btn-dark" value="Pay"id="ver">
    </form>
 </div>

</div>
<footer>
  <pre>Copyright 2021</pre>
   </footer>
</body>

</html>
