<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shopingtime</a>
    <div class="cart">
      <mat-icon *ngIf="number" matBadge="{{no}}" matBadgeColor="warn"></mat-icon><img src="https://image.flaticon.com/icons/png/128/726/726496.png"height="30px"width="30px">
    </div></div>
 
</nav>
<div class="content">
  <div class="sidepanel">
    
   <div class="sidenav">
     <button (click)="home()" class="btn btn-outline-dark">Home <img src="https://image.flaticon.com/icons/png/512/1946/1946436.png"height="15px"width="20px"></button>
     <button (click)="gotoproducts()" class="btn btn-outline-dark">Products <img src="https://image.flaticon.com/icons/png/512/1170/1170628.png"height="15px"width="20px"></button>
     <button (click)="home()" class="btn btn-outline-dark">About <img src="https://image.flaticon.com/icons/png/512/1/1176.png"height="15px"width="20px"></button>
     <button (click)="logout()" class="btn btn-outline-dark">Log Out <img src="https://image.flaticon.com/icons/png/512/1/1176.png"height="15px"width="20px"></button>
   </div>
    
  </div>
 <div  class="main">
   <div id="shoppingcart">
     <h4>shopping cart</h4>
     <hr>
     <div  *ngFor="let item of cart,let i=index" id="items">
       <div class="item">
         <img src="{{item.img}}"height="120px"width="100px">
              <pre>         Name : {{item.name}}             price:{{item.price | currency:'INR':true}}

        brand : {{item.brand}} 

     quantity : <button (click)="reducequantity(i)"class="btn btn-danger btn-sm">-</button> {{item.quantity}} <button (click)="addquantity(i)"class="btn btn-success btn-sm">+</button>
            
         
         </pre>
         <hr>
       
       </div>
     </div>
     <h4>Subtotal: {{subtotal | currency:'INR':true}}</h4>
   </div>
<button (click)="proceedtopay()" class="btn btn-dark btn-lg">Proceed to pay</button>
 </div>
</div>
<footer>
  <pre>Copyright 2021</pre>
   </footer>
</body>

</html>