<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shopingtime</a>
  </div>
</nav>
<div class="content">
  <div class="sidepanel">
    
   <div class="sidenav">
     <button (click)="home()" class="btn btn-outline-dark">Home <img src="https://image.flaticon.com/icons/png/512/1946/1946436.png"height="15px"width="20px"></button>
     <button (click)="gotoproducts()" class="btn btn-outline-dark">Products <img src="https://image.flaticon.com/icons/png/512/1170/1170628.png"height="15px"width="20px"></button>
     <button (click)="home()" class="btn btn-outline-dark">About <img src="https://image.flaticon.com/icons/png/512/1/1176.png"height="15px"width="20px"></button>
     <button (click)="logout()" class="btn btn-outline-dark">Log Out <img src="https://image.flaticon.com/icons/png/512/1828/1828479.png"height="15px"width="20px"></button>
   </div>
    
  </div>
 <div class="main">
  <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Flagship_100_Blog_2880x1800_Apparel.max-1000x1000.jpg"height="100%"width="100%">
     </div>
 

</div>

</body>

<footer>
  <pre>
Copyright 2021    
</pre>
   </footer>
</html>